#heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: yellowgreen;
    background-color: rgb(61, 88, 238);
    text-align: center;
    margin-left: 380px;
    margin-right: 380px;
    border:  10px solid red;
}